requests
fastapi~=0.88.0
uvicorn~=0.20.0
jieba
colorlog
colorama
seqeval
dill<0.3.5
multiprocess<=0.70.12.2
datasets >= 2.0.0
tqdm
paddlefsl
sentencepiece
huggingface_hub>=0.10.1
paddle2onnx
protobuf>=3.1.0, <=3.20.0
visualdl
typer
rich
PyYAML~=6.0
numpy~=1.21.2
paddlenlp~=2.4.5
easydict~=1.9
torch~=1.12.1
pydantic~=1.10.2